pymem
pyautogui
gevent==22.10.1
eel
tqdm
requests
wmi
pyautoit
psutil
# pytesseract
Pillow
#timestring
pynput
# aes-everywhere
pycryptodome
ahk==0.14.1
ahk[binary]
# python-telegram-bot
numpy
#pywebview
#cefpython3